{% comment %}

    Add Relight viewer to display an RTI image item.

    Include assumes RTI items have be preprocessed into Relight format (each item will be a folder containing info.json and several jpegs).
    Item metadata "object_location" value should be the relative path or full url to the item's folder (e.g. "/objects/rti-ex-001" ).

    Based Relight relight-viewer.js example, https://github.com/cnr-isti-vclab/relight

{% endcomment %}
<link  rel="stylesheet" href="{{ '/assets/lib/relight/css/relight.css' | relative_url }}">
<style>
	.relight { width:100%; height:100%; padding:0px; margin:0px; }
</style>
<script src="{{ '/assets/lib/relight/js/hammer.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/relight/js/relight-viewer.min.js' | relative_url }}"></script>
  
<div class="relight"></div>
<script>
var Relight = new RelightViewer('.relight', { url: "{{ page.object_location | relative_url }}", layout: "image" });
</script>
